libs
build
dist
data
assets
mygame/__pycache__
mygame/build
objectloader/__pycache__
source/build
source/piengine.egg-info
source/programs
source/piengine/__pycache__
source/piengine/utils/__pycache__
source/piengine/main/__pycache__
source/piengine/core/__pycache__
